
@media print {
  .impression-paysage {
    display: block;
                margin-top:120px;
                margin-left:-100px;
                text-align:center;
                width:90%;
                height:160%;
                transform: rotate(-90deg);
                zoom: 122% ;


    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
